{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% block sidebar %}{% endblock %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
    <table>
        <tr>
            <td><p>{{ form.username.label_tag }}</p></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td><p>{{ form.password.label_tag }}</p></td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <p3><input type="submit" value="login" /></p3>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}