{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Players{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <form method="POST" action="">{% csrf_token %}
            <br/>
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Show player"/>
        </form>
    </div>
</div>
<br/>
{% if players %}
<table border="1">
   <tr align="center" bgcolor="grey">
       <td height="20" width="100">id</td>
       <td width="400">nickname</td>
       <td width="100">xp</td>
       <td width="400">Email</td>
       <td width="100">password_hash</td>
       <td width="100">created</td>
       <td width="100">updated</td>
       <td width="100">editing</td>
   </tr>
    {% for player in players %}
    <tr align="center">
        <td>
            <a href="/user/?player_id={{ player.id }}" >
                {{ player.id }}
            </a>
        </td>
        <td><p>{{ player.nickname }}</p></td>
        <td><p>{{ player.xp }}</p></td>
        <td><p>{{ player.email }}</p></td>
        <td>********</td>
        <td><p>{{ player.created|date:"Y-m-d" }}</p></td>
        <td><p>{{ player.updated|date:"Y-m-d" }}</p></td>
        <td>
            <a href="/users/{{ player.id }}/">
                Edit
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pages">
    <span class="step-links">
        {% if not filtered %}
        {% if prev_page %}
        <a href="?page={{ prev_page }}">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                    data-placement="left" title="To previous page">
                Previous
            </button>
        </a>
        {% endif %}
        <span class="current">
            <p1>Page {{ page }} of {{ pages_amount }}</p1>
        </span>
        {% if next_page <= pages_amount %}
        <a href="?page={{ next_page }}">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip"
                    data-placement="right" title="To next page">
                Next
            </button>
        </a>
        {% endif %}
        {% endif %}
    </span>
</div>
{% else %}
<h1><p3>User with email {{email}} is not found</p3></h1>
{% endif %}
{% endblock %}