{% extends "base.html" %}
{% block title %}Players{% endblock %}
{% block content %}
<h1><p3>Player's information:</p3></h1>
<table border="2">
   <tr align="center" bgcolor="grey">
       <td height="20" width="100">id</td>
       <td width="400">nickname</td>
       <td width="100">xp</td>
       <td width="400">Email</td>
       <td width="100">password_hash</td>
       <td width="100">created</td>
       <td width="100">updated</td>
   </tr>
    <tr align="center">
        <td><p1>{{ player.id }}</p1></td>
        <td><p1>{{ player.nickname }}</p1></td>
        <td><p1>{{ player.xp }}</p1></td>
        <td><p1>{{ player.email }}</p1></td>
        <td>********</td>
        <td><p1>{{ player.created|date:"SHORT_DATE_FORMAT" }}</p1></td>
        <td><p1>{{ player.updated|date:"SHORT_DATE_FORMAT" }}</p1></td>
    </tr>
</table>
<h1><p3>Player's sessions:</p3></h1>
<table border="2">
   <tr align="center" bgcolor="grey">
       <td height="20" width="100">id</td>
       <td width="400">player_id</td>
       <td width="100">sid</td>
       <td width="400">ip_addr</td>
       <td width="100">created</td>
       <td width="100">updated</td>
   </tr>
    {% for session in sessions %}
    <tr align="center">
       <td><p1>{{ session.id }}</p1></td>
       <td><p1>{{ session.player_id }}</p1></td>
       <td><p1>{{ session.sid }}</p1></td>
       <td><p1>{{ session.ip_addr }}</p1></td>
       <td><p1>{{ session.created|date:"SHORT_DATE_FORMAT" }}</p1></td>
       <td><p1>{{ session.updated|date:"SHORT_DATE_FORMAT" }}</p1></td>
   </tr>
    {% endfor %}
</table>
<h1><p3>Player's statistic:</p3></h1>
<table border="2">
   <tr align="center" bgcolor="grey">
       <td height="20" width="100">id</td>
       <td width="400">player_id</td>
       <td width="100">stat_id</td>
       <td width="400">value</td>
   </tr>
    {% for stat in stats %}
    <tr align="center">
       <td><p1>{{ stat.id }}</p1></td>
       <td><p1>{{ stat.player_id }}</p1></td>
       <td><p1>{{ stat.stat_id }}</p1></td>
       <td><p1>{{ stat.value }}</p1></td>
   </tr>
    {% endfor %}
</table>
<h1><p3>Player's logs events:</p3></h1>
<table border="2">
   <tr align="center" bgcolor="grey">
       <td height="20" width="100">id</td>
       <td width="400">player_id</td>
       <td width="100">event_type</td>
       <td width="400">event_data</td>
       <td width="100">created</td>
   </tr>
    {% for log in logs %}
    <tr align="center">
       <td><p1>{{ log.id }}</p1></td>
       <td><p1>{{ log.player_id }}</p1></td>
       <td><p1>{{ log.event_type }}</p1></td>
       <td><p1>{{ log.event_data }}</p1></td>
       <td><p1>{{ log.created|date:"SHORT_DATE_FORMAT" }}</p1></td>
   </tr>
    {% endfor %}
</table>
<h1><p3>Player's achievements:</p3></h1>
<table border="2">
   <tr align="center" bgcolor="grey">
       <td height="20" width="100">id</td>
       <td width="400">player_id</td>
       <td width="100">achievement_id</td>
       <td width="400">created</td>
   </tr>
    {% for achievement in achievements %}
    <tr align="center">
       <td><p1>{{ achievement.id }}</p1></td>
       <td><p1>{{ achievement.player_id }}</p1></td>
       <td><p1>{{ achievement.achievement_id }}</p1></td>
       <td><p1>{{ achievement.created|date:"SHORT_DATE_FORMAT" }}</p1></td>
   </tr>
    {% endfor %}
</table>
<br/>
{% endblock %}